body {
  background-image: url('image1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment:fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
}


header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}
header .logo
{
    position: relative;
    max-width: 300px;
}
header ul
{
    position: relative;
    display: flex;
    margin-right: 200px;
}
header ul li
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    font-weight: 600;
    margin-left: 30px;
    text-decoration: none;
}
.content .text
{
  color:rgb(168, 11, 11);
  font-size: xxx-large;
  margin-left: 0px;
  
}
.content .text3
{
  color:rgb(168, 11, 11);
  font-size: xxx-large;
  margin-left: 0px;
  text-align: center;
}
.content .text3 p
{
  color: rgb(168, 11, 11);
  margin-right: 110px;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

.content .text h1{
  margin-top: 50px;
  text-align: center;
}

.content .text2
{
  color:rgb(168, 11, 11);
  font-size: 53;
  margin-top: 80px;
  margin-left: 0px;
}
.content .text2 h2{
  color:rgb(168, 11, 11);
  font-size: 15;

}
.content .text p
{
  color: rgb(168, 11, 11);
  margin-right: 110px;
  font-size: 24px;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}
.content .text p2
{
  color: rgb(168, 11, 11);
  margin-right: 110px;
  font-size: 24px;

  margin-top: 0px;
  font-weight: bold;
}
.content .text .image1
{ text-align: center;
}

.image-container {
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
}

.container {
  display: flex;
  align-items: flex-start;
}

.left-column {
  display: flex;
  flex-direction: column;
  margin-left: 120px;
}

.small-image {
  margin-left: 20px;

}

.right-column {
  flex-grow: 1;
  padding: 5px;
  margin-left: 20px;
}

.large-image img {
  max-width: 100%;
  height: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
  text-align: center;
  margin-left: 130px;
}
.color-box {
  display: inline-block;
  background-color: rgb(241, 40, 40);
  padding: 15px; 
  color: #ffffff; 
  border-radius: 5px;


}
.container2 {
  display: flex;
  align-items: flex-start;
}

.left-column2 {
  display: flex;
  flex-direction: column;
  margin-left: 500px;
}


.right-column2 {
  flex-grow: 1;
  padding: 5px;
  margin-left: 30px;
}
